.header {
  width: 100%;
  height: 100%;
  background-color: #4DA1A9;
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

body {
  background-color: #D7E8BA;
}

.container {
  display: flex;
  width: 100%;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.about {
  font-size: 40px;
}

.collapsible-body {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}
